  <img src="<%= @profile.profile_picture %>" /> 
  <p>username: <%= @profile.user.username%> </p>
  <p>bio: <%= @profile.bio %> </p>

<div>
<a href="/profiles/edit<%= @profile %>">Edit Profile</a>
</div>
